{% extends 'base.html' %}

{% block body %}


    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Arpit Jaiswal</div>
                <div class="text-3">And I'm a <span class="typing"></span></div>
                <a href="#about">About Me</a>
            </div>
        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    
                </div>
                <div class="column right">
                    <div class="text">I'm Akshat and I'm a <span class="typing-2"></span></div>
                    <p>My Name is Arpit Jaiswal and i am from bareilly(U.P.) currently i am studying in class 11th.This is my personal website where i will post som blogs,facts and many more things .</p>
                    
                </div>
            </div>
        </div>
    </section>

    

    <!-- teams section start 
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">My Blogs</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="images/profile-1.jpeg" alt="">
                        <div class="text">Why E=mc*2</div>
                        <p></p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                       <img src="images/profile-2.jpeg" alt="">
                        <div class="text"><a href="blog1.html">Someone name</div></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/profile-3.jpeg" alt="">
                        <div class="text">Someone name</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/profile-4.jpeg" alt="">
                        <div class="text">Someone name</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/profile-5.jpeg" alt="">
                        <div class="text">Someone name</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

{% endblock %}   